[submodule "libs/WebKit"]
	path = libs/WebKit
	url = https://github.com/fredldotme/WebKit.git
[submodule "libs/libwpe"]
	path = libs/libwpe
	url = https://github.com/WebPlatformForEmbedded/libwpe.git
[submodule "libs/WPEBackend-fdo"]
	path = libs/WPEBackend-fdo
	url = https://github.com/fredldotme/WPEBackend-fdo.git
[submodule "libs/wpewebkit-qt"]
	path = libs/wpewebkit-qt
	url = https://github.com/fredldotme/wpewebkit-qt.git
